
body {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  text-align: center;
  font-size: 6em;
}
.closes{

  margin-top: -5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: white;
  text-align: right;
}


/*NAV BAR DETAILS 2.0*/
.MainContainer {
    width: 1200px;
    background-color: black;
}
.MenuContainer {
    height: 70px;
    bottom:0;
}
ul#navigation {
    height: 130px;
    list-style: none;
    margin: 0;
    padding: 0;

  /*  border: 1px solid #ccc;*/
    border-width: 10px 0;
    text-align: center;
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    background-color: black;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:1000;
    padding-top:1.4em;
}
ul#navigation li {
    display: inline;
    margin-right: .8em;
    list-style: none;
    margin: 0;
    padding-right:.7em;
  }

.topimg{
float:center;
padding-top:100px;
margin-bottom: -20%;
}

.space{
  height:170px;
  width:100%;
  background-color:black;
}






.bgimg {
  background-image: url(info.png);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */


  /* This is what makes the background image rescale based
     on the container's size */
  background-size:cover;


  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}


.bgimg2 {
  background-image: url(beans.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */


  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: 12.7em;
}

.bgimg3 {
  background-image: url(smoke.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: 12.6em;
}

.bgimg4 {
  background-image: url(about.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */


  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: 5.2em;
}

.gallery {
  background-image: url(bg.JPG);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */


  /* This is what makes the background image rescale based
     on the container's size */
  background-size:cover;


  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: 5.1em;
}

.info {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5em;
  color: white;
}

.text {
  margin-top: -5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
  color: white;
  text-align: right;
}

.text1 {
  margin-top: -5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
  color: white;
  text-align: left;
}

.menu {
  margin-top: -11%;
  margin-left: 8%;
  margin-right: 8%;
}

.menuu {
  margin-left: 8%;
  margin-right: 8%;
}

.menutitle {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
  margin-top: -2em;
  margin-bottom: 2.7em;
}

.menutitle2 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  margin-top: -1em;
  margin-bottom: 2.3em;
}

.hookah {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: -23%;
}

.cateringg {
  margin: -5% 8% 0 8%;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  color:white;
}

.catering {
  background-image: url(bg.JPG);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */


  /* This is what makes the background image rescale based
     on the container's size */
  background-size:cover;


  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: -14.2em;
}

.socialcontainer {
  margin-top: -7em;
  margin-bottom: 5em;
}

.container {
  margin: 60px;
  float: center;
}
.navbar-toggle{
  border-radius:none;
  border:none;
}


.container-fluid{
  background-color: transparent;
  outline-width:0px;
  border-color:white;
}


.titleimg {

  width:100%;
  height:250px;
  margin:0;
}

.rectangle {
      float:center;
    width: 260px;
    height: 80px;
    margin-left:auto;
  margin-right:auto;
  padding-bottom:50px;
  margin-top:-.3em;
  margin-bottom: 1em;
  }

.rectangle2{
      float:center;
    width: 260px;
    height: 80px;
    margin-left:auto;
  margin-right:auto;
  padding-bottom:50px;
  margin-top:-.3em;
    margin-bottom:-50px;
  }
  #rectanglee {
    width:360px;
    height:100px;
    background:red;
  }
/*
.socialimg {
  width:10%;
  height:10%;
  margin:0;
  margin-top:-8em;
}*/

.logoimg{
  float:left;
  width:15%;
  height:15%;
}
.socialimg:hover{
outline:none;
text-decoration: none;
background
}
.socialimgg {
  width:7%;
  height:7%;
  margin:0;
}

/* INFO TEXT*/
.infoalignleft {
  float: left;
      padding-left:20px;
      font-size:1em;
       font-weight:normal;
       padding-bottom:20px;
         margin-top:-4em;
}
.infoalignright {
  float: right;
  padding-right:10px;
  font-size:1em;
   font-weight:normal;
   padding-bottom:20px;
   margin-top:-4em;
}

.aligncenter {
  text-align:center;
  margin-top:-3em;
}




p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 6em;
    font-weight:normal;
    color:white;
}



.blackhead {
  font-family: 'Fjalla One', sans-serif;
  font-weight:bolder;
  font-size: 6em;
  color:black;
  margin-top: -2em;
}

.titleblack {
  font-family: 'Fjalla One', sans-serif;
  font-weight:bolder;
  font-size: 6em;
  color:white;
  margin-top: -2em;
  text-shadow: 2px 2px black;
}

li {
  font-size: 1.5em;
  font-color: red;
}

.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
    margin-top:-8.5em;

}



/*KEEPS HOOKAH MENU ALIVE*/
.center{
    text-align:center;
    margin-top:4.5em;
}


.menucontent {
  text-align: left;
  font-size: 3em;
  padding-bottom: 20px;
  margin-top: .5em;
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
  text-shadow: 2px 2px black;
}

.menucontent1 {
  text-align: left;
  font-size: 2.5em;
  padding-bottom: 20px;
  margin-top: .5em;
  font-family: 'Roboto Condensed', sans-serif;
  color:black;
}

.menucenter {
  float:center;
  font-size:2.3em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 1em;
  color:white;
  text-shadow: 2px 2px black;
}


.title1 {
  text-align:center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:2em;
}

.gallerycontent {
  margin-top: -5em;
  margin: -8% 10% 5% 10%;
}

/*HOOKAH MENU*/

.hookahimg {
  margin-top: -5em;
}

.footercontent{
  background-color: RGB(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
 /* For IE 8*/
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
 margin-top: -14.5em;
 font-size:1em;
 text-align:center;
   font-family: 'Roboto Condensed', sans-serif;
   margin-top:2em;
   color:white;
}



.btn{
  border-radius:0 !important;
  background-color:transparent !important;
  border-color: white !important;
  height:1.8em !important;
  width:4em !important;
  font-size:1em !important;
  text-align:center !important;
  vertical-align:center!important;
   font-family: 'Roboto Condensed', sans-serif !important;
  padding-left:10px!important;
  padding-top:10px!important;
}
.btn-xlg{
  border-radius:5% !important;
  background-color:transparent!important;
/*  background-color:rgba(154, 109, 56, 0.7)  !important;*/
  border-color: white !important;
  border-width:10px!important;
  color:white!important;
  height:3em !important;
  width:16em !important;
  font-size:3em !important;
  text-align:center !important;
  vertical-align:center!important;
  font-family: 'Roboto Condensed', sans-serif !important;
  padding-top:.4em!important;
  box-shadow:2!important;
}

.wrapper {
    text-align: center;
}

.navimg {
  display:block;
  float:left;
  margin-top: -15px;
}
