



























.cateringbutt {
  background: #ff0000;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  width: 400px;
  height:140px;
}

.cateringbutt:hover {
  background: #828282;
  text-decoration: none;
  color:white;
}

.cateringg a {
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

.aboutt {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  margin: -10% 8% 0 8%;
  text-align: left;
  color: white;
}

a {
  color: white;
}

a:active {
  color: red;
  font-weight: bold;
}

a:hover
{
     text-decoration:none!important;
     color:inherit!important;
}
a.one{
  color:white!important;
}

a.one:link {
    text-decoration: none;
}

a.one:visited {
    text-decoration: none;
}

a.one:hover {
    text-decoration: none;
}

a.one:active {
    text-decoration: none;
}


.menu a {
  color: white;
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.menuu a {
  color: white;
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.hookah a {
  color: white;
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.blackhead {
  font-family: 'Fjalla One', sans-serif;
  font-weight:bolder;
  font-size: 3em;
  color:black;
  margin-top: -3em;
}

.aboutimg {
  margin-top: -3em;
}

.bar {
  width: 50%;
  height: 5px;
  background-color: red;
  box-shadow: 2px 2px black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 10%;
}

/*  MENU TABS*/
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color:transparent!important;
    border-width:4px!important;
    border-left:none!important;
    border-right:none!important;
    border-color:white!important;
    color:white!important;
  }

.nav>li>a:focus, .nav>li>a:hover {
  background-color:transparent!important;
  border-color:transparent!important;
  color:white!important;
}

@media screen and (min-width: 992px) {
  .text {
    font-size: 1.7em;
  }
  .text1 {
    font-size: 1.7em;
  }

  .socialcontainer {
    margin-top: -13%;
  }
  .bar {
    width: 650px;
    height: 10px;
    background-color: red;
    box-shadow: 2px 2px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 15%;
  }

li {
  color: red;
}

.aboutt {
  margin-left: 23%;
  margin-right: 23%;
  font-size: 1.3em;
  margin-top: -15%;
}

.aboutimg {
  margin-top: -10em;
}

.menu a {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.menuu a {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.bgimg {
  background-image: url(info.png);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size:cover;


  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: -9em;
}

.bgimg2 {
  background-image: url(beans.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: 13.5em;
}

.gallery {
  background-image: url(bg.JPG);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size:cover;


  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: 10.8em;
}

.bgimg3 {
  background-image: url(smoke.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: 13.5em;
}

.catering {
  background-image: url(bg.JPG);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size:cover;


  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  margin-top: 8.1em;
}

.cateringg {
  margin-top: -8em;
  text-align: left;
  font-size: 1.5em;
  margin-left: 23%;
  margin-right: 23%;
}


.hookah a {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}

.navy a{
  color:white!important;
}
.cateringbutt {
  background: #ff0000;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 1em;
  text-decoration: none;
  width: 250px;
  height:60px;
}


.cateringbutt:hover {
  background: #828282;
  text-decoration: none;
  color:white;
}

.cateringg a {
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

a:active {
  color: red;
  font-weight: bold;
}

.menuu {
  margin-left: 20%;
  margin-right: 20%;
}

.menu {
margin-left: 20%;
margin-right: 20%;
margin-top: 3em;
}

.menucontent {
    font-size: 1.7em;
    text-align: left;
    color:white;
    text-shadow: 2px 2px black;
  }

.menucontent1 {
      font-size: 1.5em;
      text-align: center;
      color:black;
    }

    .menucenter {
      float:center;
      font-size:1.5em;
      font-family: 'Roboto Condensed', sans-serif;
      color:white;
      text-shadow: 2px 2px black;
    }


    .hookah {
      margin-left: 20%;
      margin-right: 20%;
      margin-top: -21%;
    }

    .gallerycontent {
      margin-top: -10em;
      margin-bottom: 2em;
      margin-left: 16%;
      margin-right: 16%;
    }



    .bgimg4 {
      background-image: url(about.jpg);
      /* Background image is centered vertically and horizontally at all times */
      background-position: center center;

      /* Background image doesn't tile */
      background-repeat: no-repeat;

      /* Background image is fixed in the viewport so that it doesn't move when
         the content's height is greater than the image's height */
      background-attachment: fixed;

      /* This is what makes the background image rescale based
         on the container's size */
      background-size: cover;

      /* Set a background color that will be displayed
         while the background image is loading */
      background-color: #464646;
      margin-top: 10.8em;
    }

    .titleblack {
      font-family: 'Fjalla One', sans-serif;
      font-weight:bolder;
      font-size: 3.8em;
      color:white;
      margin-top: -3.5em;
      text-shadow: 2px 2px black;
    }

    .menutitle {
      color: white;
      font-family: 'Fjalla One', sans-serif;
      font-size: 3em;
      margin-top: -2.6em;
      margin-bottom: 3em;
    }

    .menutitle2 {
      color: white;
      font-family: 'Fjalla One', sans-serif;
      font-size: 3em;
      margin-top: -.1em;
      margin-bottom: 3em;
    }


.MainContainer {
    width: 1200px;
    background-color: black;
}
.MenuContainer {
    height: 70px;
}
ul#navigation {
    height: 100px;
    list-style: none;
    margin: 0;
    padding: 0;

  /*  border: 1px solid #ccc;*/
    border-width: 10px 0;
    text-align: center;
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    background-color: black;
    color:white;
    position: fixed;
    width: 100%;
    z-index:1000;
    top:0;
    padding-top:1.4em;
}

ul#navigation li {
    display: inline;
    margin-right: .8em;
    list-style: none;
    margin: 0;
    padding-right:.7em;
  }
.topimg{
float:center;
padding-top:100px;
}

.space{
  height:170px;
  width:100%;
  background-color:black;
  display:none;
}
.space2{
  height:170px;
  width:100%;
  background-color:black;
}
.space3{
  height:100px;
}
.space4{
  height:150px;

}

.topimg{
  display:none;
}

.btn{
  border-radius:0 !important;
  background-color:transparent !important;
  border-color: white !important;
  height:1.8em !important;
  width:4em !important;
  font-size:1em !important;
  text-align:center !important;
  vertical-align:center!important;
   font-family: 'Fjalla One', sans-serif !important;
  padding-left:10px!important;
  padding-top:10px!important;
}
.btn-xlg{
  border-radius:5% !important;
  background-color:transparent!important;
/*  background-color:rgba(154, 109, 56, 0.7)  !important;*/
  border-color: white !important;
  border-width:3px!important;
  color:white!important;
  height:2em !important;
  width:14em !important;
  font-size:1.6em !important;
  text-align:center !important;
  vertical-align:center!important;
  font-family: 'Roboto Condensed', sans-serif !important;
  padding-top:.4em!important;
  box-shadow:2!important;
}

.navimg {
  display: block;
  float: left;
  margin-top: -1.1em! important;
  padding-left: 20px;
}
}
