body {
  background-image: url("IMG_5765.png");

/* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  font-size: 6em;
  color: white;
  padding-left:-10%;
  padding-right: -10%;
}

a {
  text-decoration: none;
}

a:hover, a:active, a:link {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px black;
}

.logoimg{
  margin-top: 5%;
  float:center;
  width:20%;
  height:20%;
}

img {
  width:80%;
  height: 30%;
  align-content: center;
}

.row {
  align-content: center;
  float:center;
  margin: auto;
}

#select {
  margin-top: 4%;
  margin-bottom: 4%;
}

.choose {
margin-bottom: 4em;
  /* default fallback */
background: rgb(255, 255, 255) transparent;
/* nice browsers */
background: rgba(255, 255, 255, 0.2);
/* IE 6/7 */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
align-items: center;
}

#location {
  margin-top: 2em;
}
@media screen and (min-width: 992px) {
  #location {
    margin: 3% 20% 5% 20%;
  }

  #select {
    margin-top: -2%;
    margin-bottom: 3%;
  }

p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px black;
}

.choose {
  margin-top: -3em;
  margin-bottom: -4em;
}

.logo {
  margin-top: -4em;
}

.logoimg{
  margin-top: 5%;
  float:center;
  width:10%;
  height:10%;
}

.choose {
margin-bottom: 6em;
  /* default fallback */
background: rgb(255, 255, 255) transparent;
/* nice browsers */
background: rgba(255, 255, 255, 0.2);
/* IE 6/7 */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
align-items: center;
}
}

.lajolla {
  align-items: center;
}
